body{
    background-color: #EAF6F6;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 20px;

}
p{
    line-height: 2;
}
h1{
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: 'Merienda One', cursive;
    font-size: 60px;
    color: #66BFBF;
    line-height: 2;
}

.designation{
    font-size: 1.25rem;
    margin-top: 5px;
    color: #66BFBF;
}
h2{
    font-size: 25px;
    color: #66BFBF;
    font-weight: normal;
    margin: 50px auto;
}

h3{
    color: #11999E;
    text-align: center;
}

a{
    color: #11999E;
}

.top_container{

    /* background-color: #DEFCF9; */
    background-color: #EAF6F6;   
    margin: 0px;
    position: relative;
    padding-top: 200px;
    /* margin-bottom: 300px; */
    /* padding-bottom: 300px; */
    
}
.txt{
    position: relative;
        /* top: 100px;
        left: 0;
        right: 0; */
    margin: auto;
}
.cloud1{
    position: absolute;
    top: 50px;
    left: 400px;
}
.cloud2{
    position: absolute;
    right: 200px;
    top: 200px;
}
.mountain{
    position: absolute;
    left: 0;
    bottom: 0;
    /* right: 0; */
    margin: auto;
    
    
}
.my-img{
    margin-top: 50px;
    border-radius: 100%;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-img-1{
    width: 25%;
    /* float: left; */
    margin-right: 30px;
    
}
.skill-img-2{
    width: 25%;
    /* float: right; */
    margin-left: 10px;
}
.skill-img-3{
    width: 25%;
    /* float: left; */
    margin-right: 30px;
}

.line{
    width: 5%;
    margin: 100px auto;
    border-style: dotted none none none;
    border-width: 5px;
    border-color: grey;
}

.talk{
    margin: 50px;
}
/* .touch{
    margin-top: 50px;
} */
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 100;
    -moz-border-radius: 100;
    border-radius: 100px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #00fc54);
    background-image: -moz-linear-gradient(top, #30e3cb, #00fc54);
    background-image: -ms-linear-gradient(top, #30e3cb, #00fc54);
    background-image: -o-linear-gradient(top, #30e3cb, #00fc54);
    background-image: linear-gradient(to bottom, #30e3cb, #00fc54);
    text-decoration: none;
}

.skills-heading{
    margin-top: 50px;
}
/* 
.p1{
    clear: left;
}

.p2{
    clear: right;
}

.p3{
    clear: left;
} */


.middle-container{
    background-color: #FFF5E9;
    padding-bottom: 50px;
}
.bottom-container{
   background-color: #FFE3E1;
   padding-top: 50px;
   padding-bottom: 25px;
} 
.footer-link{
    padding: 0 75px;
    color: crimson;
    text-decoration: none;
    
}
.footer-link:hover{
    color: palevioletred;
}
.rights{
    color: grey;
    padding-top: 30px;
    font-size: 0.75rem;
}
